body{
    font-family: 'Ubuntu', sans-serif;
    background-color: darkorchid;
}
.banner-container{
    /* background-color: darkgreen; */
    background-image: url(/img/code-origin.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
.banner-column{
    margin-bottom: 4rem;
    margin-top: revert;

}
#sohanemon-init{
    font-weight: bolder;
    color: #77018C;

}
#sohanemon-details{
    color: #770161;
}
.display-6{
    font-size: calc(1.375rem + 3.5vw);
}
.navbar-container{
    background-color: #8B01FF;
}
.about-container{
    bottom: 0px;
    background-color: lightgray;
}
.about-container .container p{
    color: #770161;
}
.education-container{
    
    overflow: hidden;
    background-color: #436088;
}
.project-container{

    overflow: hidden;
        border: 0px;
    background-color: darkorange;
}
.circle{
    display: block;
    background-color: #6C757D;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.my-3 {
    margin-top: 0rem!important;
}
.img-fluid{
    vertical-align: bottom
}

.profile-icon{
    margin-top: auto;
    height: 50%;
    max-width: 100%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.btn-primary {
    color: white;
    background-color: #0D6D68;
    border-color: #0D6E4E;
}
.card{
    margin: 15px;
    
    background-color: #770161;
}
.card-group {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.07em;
    font-weight: 900;
    font-style: normal;
    color: #ff8c00;
    }
.btn-outline-success:hover {
    /*! color:#090909; */
    background-color:#ff8c00;
    border-color:#ff8c00;
}
.btn-outline-success {
    color:#ff8c00;
    border-color:#ff8c00;
}
.text-muted {
    --bs-text-opacity:1;
    color:violet;
}
.headlines{
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: 0.28em;
        font-weight: 500;
       
}
      